[Unit]
Description=Road Crash Dash
After=multi-user.target
[Service]
Type=simple
Restart=always
WorkingDirectory=/home/ec2-user/
ExecStart=/usr/bin/python3 /home/ec2-user/dash_app/app.py
[Install]
WantedBy=multi-user.target